.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

#card { 
  grid-column: 4 / 9;
  grid-row: 4 / 10;
  border: 1px solid;
  min-height: 300px;
  min-width: 500px;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  border-radius: 25px;
  background-color: rgb(232, 245, 249);
  
  transform-style: preserve-3d;
  transition: transform 1s;
  
  box-shadow: 10px 10px darkgray;
}

#card-front {
  display: block;
}

#card-back {
  display: none;
  transform: rotateY(180deg);
}